input#avatar_url(type="hidden", value= AVATAR_URL)
div.span11(style="min-height: 50%")
    div.hero-unit(style="height: 100%")
        h1= 'About ' + DISPLAY_NAME
        br
        !{INTRODUCTION}
script(type='text/javascript')
    var sb = new Sidebar();
    sb.setAvatar($('#avatar_url').val());
