input#avatar_url(type="hidden", value= AVATAR_URL)
div.span11
    each log in logs
        div.log-content
            h3.log-title
                a(href= log.url, target="_blank")= log.title
            p
                small 
                    |Posted at 
                    span.muted #{new Date(log.published_at)}
                    |&nbsp;under&nbsp;
                    a(href= blog_url + '/category/' + log.categories + '/', target="_blank") #{log.categories}
            p !{log.summary}
        hr
script(type='text/javascript')
    var sb = new Sidebar();
    sb.setAvatar($('#avatar_url').val());
