style(type='text/css')
    #main {
        font: 13px Helvetica, arial, freesans, clean, sans-serif;
    }
    #main a {
        margin: 0;
        padding: 0;
        border: 0;
        color: #4183C4;
    }
    #main p {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    #main ul {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
    #main .mega-icon {
        font-family: 'Octicons Regular';
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        line-height: 1;
        text-decoration: none;
    }
    #main ul.repolist h3 {
        font-size: 20px;
        line-height: 32px;
        margin: 0 auto;
        letter-spacing: -1px;
        white-space: nowrap;
        font-weight: bold;
    }
    #main ul.repolist h3 a {
        display: inline-block;
        line-height: 32px;
        position: relative;
    }
    #main ul.repolist li {
        border-bottom: 1px solid #F1F1F1;
        padding: 0 0 20px 0;
        position: relative;
        min-height: 66px;
        overflow: hidden;
        margin: 0 0 20px 0;
        list-style-type: none;
        text-align: -webkit-match-parent;
    }
    #main ul.repolist h3 span {
        line-height: 11px;
        color: #666;
        font-size: 12px;
        font-weight:bold;
    }
    #main ul.repolist p.description {
        margin: 0 0 5px 0;
        color: #333;
        font-size: 14px;
    }
    #main ul.repolist .body {
        text-shadow: 0 1px 0 white,1px 0 0 white,0 -1px 0 white,-1px 0 0 white,0 2px 0 white,2px 0 0 white,0 -2px 0 white,-2px 0 0 white;
    }
    #main ul.repolist p.updated-at {
        margin: 0;
        font-size: 11px;
        color: #999;
    }

input#gravatar_id(type='hidden', value= repos[0].owner.gravatar_id)
input#display_name(type='hidden', value= repos[0].owner.login)
div.repo-tab.span9
    ul.repolist
        each repo in repos
            li(style="display: list-item;")
                h3
                    a(href= repo.html_url, target='_blank') #{repo.full_name}
                    span &nbsp;
                    span (#{repo.language})
                div.body
                    p.description= repo.description
                    p.updated-at Updated at: #{repo.updated_at}
script(type='text/javascript')
    var sb = new Sidebar();
    sb.setAvatar('https://secure.gravatar.com/avatar/' + $('#gravatar_id').val() + '?size=250');
    sb.setName($('#display_name').val());
