doctype 5
html(style="height: 100%")
    head
        title= TITLE
        meta(name="description", content= DESCRIPTION)
        meta(name="keywords", content= KEYWORDS)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", href="/favicon.ico", mce_href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/bootstrap.css/css/bootstrap.min.css")
        script(type="text/javascript", src="/jquery/jquery.min.js")
        script(type="text/javascript", src="/bootstrap.css/js/bootstrap.min.js")
        script(type="text/javascript")
            $(document).ready(function () {
                $('#long').modal({
                    height: '100px'
                    });
            });
        style(type="text/css")
            .nav-pills li {
                margin: 0px;
            }

            .nav-pills li a {
                color: white;
                font-style: bold;
                font-size: 16px;
                padding-top: 15px;
                padding-left: 10%;
                padding-bottom: 15px;
                border-radius: 0px;
            }

            .nav-pills li a:hover {
                background: #6CAAE7;
            }

            .nav-pills li.active a {
                background: #56C4FF;
            }

            .nav-pills li.active a:hover {
                background: #56C4FF;
            }

            .nav-pills.nav-stacked  li  a {
                margin: 0px;
                font-style: bold;
            }
    body(style="height: 100%")
        div.container-fluid(style="height: 100%; padding:0px; margin:0px")
            div.row-fluid(style="height: 100%")
                div#sidebar.span3(style="height: 100%; background: #569CE2;")
                    include sidebar
                div#main.span9(style="height: 100%; overflow-y:scroll; overflow-x: hidden;")
                    div.row-fliud
                        block content
        include scripts 
