script(type="text/javascript")
    var Sidebar = function () {

        this.setAvatar = function (url) {
            $('#avatar').attr('src', url);
        };

        this.setName = function (name) {
            $('#display-name').html(name);
        };

    };

    var AjaxAnimate = function () {

        this.start = function () {
            this.$avatar = $('#avatar');
            this.avatar_url = this.$avatar.attr('src');
            this.$avatar.attr('src', '/loading.gif');
        };

        this.end = function () {
            if (this.$avatar.attr('src') == '/loading.gif') {
                this.$avatar.attr('src', this.avatar_url);
            }
        };

    };


script(type="text/javascript")
    var ajaxAnimate = new AjaxAnimate();
    $(document).ajaxStart(function () { 
        ajaxAnimate.start();
    }).ajaxStop(function () { 
        ajaxAnimate.end();
    });
    $(document).ready(function () {
        var $sidebar = $('#sidebar li');
        // add high-light when selected
        $sidebar.on('click', function (evt) {
            evt.preventDefault();
            $sidebar.removeClass('active');
            var $currentTarget = $(evt.currentTarget);
            $currentTarget.addClass('active');
        });
        // select the first element
        $sidebar.first().trigger('click');
        // get feature list
        $.getJSON('/features', function (features) {
            $sidebar.each(function (index, ele) {
                var $ele = $(ele);
                var cls = $ele.attr('class');
                cls = cls.replace('active', '').trim();
                var feature = features[cls];
                if (feature) {
                    $ele.children('a').attr('href', feature.url);
                    if (feature.direct_url) {
                        $ele.off('click');
                    }
                    else {
                        $ele.on('click', function () {
                            $('#main').load(feature.source);
                        });
                    }
                    
                }
            });
            $sidebar.first().trigger('click');
        });
    });
