div.row-fluid(style="height: 5%")
div.row-fluid
    div.span2
    div.span7
        img#avatar.img-polaroid(src= AVATAR_URL, style="background: #ccc;")
div.row-fluid
    div.span2
    div.span7
        h3#display-name= DISPLAY_NAME
div.row-fluid
    div.span12
        ul.nav.nav-pills.nav-stacked
            each item in ENABLED_FEATURES
                li(class= item)
                    a #{item}
